<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/">
      <span class="navbar-logo">⚖️</span>
      <span class="navbar-nombre">Estudio Jurídico</span>
    </a>
  </div>

  <div class="navbar-links">
    @if (!authService.estaLogueado()) {
      <a routerLink="/login" class="btn-login">Ingresar</a>
      <a routerLink="/registro" class="btn-registro">Registrarse</a>
    }
    @if (authService.estaLogueado() && authService.getRol() === 'Cliente') {
      <a routerLink="/cliente/panel" class="nav-link">Mis casos</a>
      <a routerLink="/cliente/perfil" class="nav-link">Mi perfil</a>
      <button (click)="logout()" class="btn-login">Salir</button>
    }
    @if (authService.estaLogueado() && (authService.getRol() === 'Admin' || authService.getRol() === 'SuperAdmin' || authService.getRol() === 'Abogado')) {
      <a routerLink="/admin/panel" class="nav-link">Panel</a>
      <button (click)="logout()" class="btn-login">Salir</button>
    }
  </div>
</nav>